<!DOCTYPE html>
<html lang="<%- page.lang %>">
<%- partial('tpl/head'); %>
<body class="loading">
<%- partial('tpl/header'); %>
<%- partial('tpl/content'); %>
<%- partial('tpl/footer'); %>
</body>
</html>